/* Global Variables */
/* Imports */
#container {
  max-width: 960px;
  margin: 10px auto;
  padding: 10px;
  background: #2ecc71;
  text-align: center;
  min-height: 700px; }

.wishlist-img {
  height: 150px;
  width: 150px;
  border: 3px solid #2980b9; }

.wishlist {
  margin: 20px 0; }
  .wishlist td {
    display: block;
    padding: 10px 5px; }
  .wishlist tr {
    margin: 20px 0; }

@media (max-width: 768px) {
  .wishlist td {
    display: inline-block; }

  tr {
    margin-top: 20px;
    text-align: left; } }
body {
  font-size: 16px;
  line-height: 1.375em; }

h1 {
  font-size: 3em;
  line-height: 1.05em; }

h2 {
  font-size: 2.25em;
  line-height: 1.25em; }

h3 {
  font-size: 1.75em;
  line-height: 1.25em; }

h4 {
  font-size: 1.125em;
  line-height: 1.222222222em; }

@media (max-width: 760px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em; }

  h4 {
    font-size: 1.125em;
    line-height: 1.222222222em; } }
@media (max-width: 500px) {
  body {
    line-height: 1.25em; }

  h1 {
    font-size: 2em;
    line-height: 1.25em; }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em; }

  h3 {
    font-size: 1.375em;
    line-height: 1.1363634em; }

  h4 {
    font-size: 1.125em;
    line-height: 1.111111em; } }
.header-img {
  height: 100px;
  width: auto; }

.header {
  min-height: 120px;
  background: white;
  text-align: center;
  padding: 10px;
  margin: 2% 0;
  border-radius: 10px; }

.itemName, .item-info {
  background: rgba(236, 240, 241, 0.7);
  margin-bottom: 20px;
  border-radius: 10px; }

.item-img {
  height: 300px;
  width: 300px;
  border: 3px solid #2980b9; }
