<h1>Add a New Item</h1>
<form itemitemitemitemitemitemName="itemForm" ng-submit = "itemForm.$valid && wishlist.addItemDetails()" novalidate>
  <div class="form-group" ng-class="{'has-error': !wishlist.newItem.category}">
    <label class="control-label">Category</label>
    <input class="form-control" type="text" ng-model="wishlist.newItem.category" required>
  </div>
  <div class="form-group">
    <label class="control-label">Image</label>
    <input class="form-control" type="text" ng-model="wishlist.newItem.image">
  </div>
  <div class="form-group" ng-class="{'has-error': !wishlist.newItem.itemitemitemitemitemitemName}">
    <label class="control-label">Name of Item</label>
    <input class="form-control" type="text" ng-model="wishlist.newItem.itemName" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !wishlist.newItem.price}">
    <label class="control-label">Price</label>
    <input class="form-control" type="number" ng-model="wishlist.newItem.price" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !wishlist.newItem.amazon}">
    <label class="control-label">Amazon Link</label>
    <input class="form-control" type="url" ng-model="wishlist.newItem.amazon" required>
  </div>
  <div class="form-group">
    <label class="control-label">Priority</label>
    <input class="form-control" type="text" ng-model="wishlist.newItem.priority">
  </div>
  <input class="btn btn-primary" type="submit" value="Add Item">
</form>
