<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Amazon Link</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a class="btn btn-primary" href="/#/wishlist/{{item}}">More Details</a>
      <a class="btn btn-primary" href="/#/wishlist/{{item}}/edit">Edit Item</a>
      <button class="btn btn-warning">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
