<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Amazon Link</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="(itemID, item) in wishlist.wishlist">
    <td>{{item.category}}</td>
    <td><img ng-src="{{item.image}}"></td>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td><a href="{{item.amazon}}">Amazon Link</a></td>
    <td>{{item.priority}}</td>
    <td>
      <a class="btn btn-primary" href="/#/wishlist/{{item}}">More Details</a>
      <a class="btn btn-primary" href="/#/wishlist/{{item}}/edit">Edit Item</a>
      <button class="btn btn-warning">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
